
<!-- Content starts here -->
<div id="content-area" class="container">
<h1>{{desc}}</h1>
<p>Welcome to my page. Currently made with bootstrap 4.0</p>
    <p>Current available paths are {{#each paths}}"{{this.pathname}}" {{/each}}</p>
    <p id="test"></p>
    <p>Latin Volapyk Test</p>
    <p id="lorem"></p>
</div>

