
<!-- Content starts here -->
<div id="content-area" class="container">
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
    <p id="test"></p>
</div>
<!-- Footer starts here -->
<div id="footer-area">

</div>
