<nav class="navbar navbar-expand-lg navbar-dark bg-dark test">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <select class="btn btn-sm">
                    <option value="1">1</option>
                </select>
            </li>
            <li id="navText" class="ml-5">
                Welcome to this in-progress webpage, everything you see is under construction
            </li>
        </ul>
    </div>
</nav>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

