<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html>
  <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/jquery-3.2.1.js"></script>
        <script src="/javascripts/bootstrap.bundle.js"></script>
        {{#if index}}<script async src="/javascripts/index.js"></script>{{/if}}
        {{#if login}}<script async src="/javascripts/login.js"></script> {{/if}}
        {{#if people}}<script async src="/javascripts/people.js"></script> {{/if}}
  </head>
  <body>
  <!-- Header starts here -->
  <div id="header-area" class="row">
      <nav class="col-xl-12 navbar navbar-expand-lg navbar-dark bg-dark test">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <select id="navbar-path-dropdown" class="btn btn-sm" title="wipDropDown">
                          <option>WIPs</option>
                          <option>Footer</option>
                          <option>Wishes</option>
                          <option>Thailand</option>
                      </select>
                  </li>
                  <li id="navText" class="ml-5">
                      Welcome to this in-progress webpage, everything you see is under construction.
                  </li>
              </ul>
          </div>
      </nav>
  </div>
  <!-- Content/Body starts here -->
    {{{body}}}
  <!-- Footer starts here -->
  <div id="footer-area" class="row mt-5">
        <div class="container-fluid mt-1">
            <div id="About-me" class="col-xl-4 col-sm-4">
                <p><b>About Me</b></p>
                <ul>
                    <li>Nicolai Kløcher</li>
                    <li>Student in Computer Science</li>
                    <li><a href="https://github.com/NKloecher">Github</a></li>
                </ul>
            </div>
        </div>
  </div>
  </body>
</html>
